{% extends "base.html" %}


{% block title %}Thank you for your time{% endblock %}
{% block imports %}
<link rel="stylesheet" href="../static/styles/contact_us.css">
<link rel="stylesheet" href="../static/styles/contact_us_finalized.css">
{% endblock %}
{% block content %}
<h1>Thank you for your time</h1>
<h2>Your appointment was successfully registered. You can cancel any appointment 1 day prior its due date.</h2>
<a href="{{url_for('views.home')}}"><button style="color: var(--text-bg-inv);">Back to home</button></a>
{% endblock %}