{% extends "base.html" %}

{% block title %}Forgot password {% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/styles/authentication.css">
<link rel="stylesheet" href="../static/styles/forgot_password.css">
{% endblock %}
{% block background %} style="background-image: url('../static/resources/background.jpg');" {%endblock %}

{% block content %}

<form class="inner-container" method="POST">
	<h1>Forgot password</h1>
	<p>We are going to send to your email address a verification code</p>
	<input type="email" name="email" placeholder="Email address">

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == "error" %}
					<p class="alert">{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}

	<a href="{{url_for('auth.verify_code')}}"><button type="submit">Send verification code</button></a>
</form>


{% endblock %}